@use "../components/common/variables" as var;

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

   background-color: var.$white;
   padding: 5px 40px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   z-index: 10;


   ul {
      display: flex;
      gap: 6vw;
      padding: 0 20px;
   }

   li {
      padding: 10px;
   }

   .logo-box {
      display: flex;
      align-items: center;
      gap: 10px;
   }


}